@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color:  #4e4e4e;
}

/* Header */

.header-style {
  background-color: #be9c91;
  padding: 0;
}

header nav h2 {
  font-size: 1.3rem;
  margin-bottom: 0;
  letter-spacing: 1px;
  color: #2b2b2b;
  font-weight: 600;
}

.navitem-style {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: large;

}

.navitem-style a:hover {
  background-color: #fafafa;
}

.navbar .navbar-toggler {
  outline: none;
  color: #2b2b2b;
  border-color: #4e4e4e;
}



/*========= Headings ========*/

.hero-heading {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 220px;
    z-index: 1;
    color: #fafafa;
    text-align: center;
    width: 100%;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    font-size: 4vw;
    letter-spacing: 1px;
}

.headings {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

 /* Text links */          

.text-links {
    color: #be9c91;
    letter-spacing: 1px;
}

.text-links:hover {
    color:#fafafa;
    text-decoration: none;
}

/* Section */

.section-heading {
    margin: 25px 0;
    letter-spacing: 4px;
    border-bottom: 5px solid #be9c91;
    padding-bottom: 20px;
}

.section-style {
  padding: 0;
  background-color: #4e4e4e;
  color: #fafafa;
}

.content-style {
  margin: 0;
  border: 0;
  background-color: #4e4e4e;
  color: #be9c91;
}

.hero-img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.img-text {
  text-align: center;
  color: #fafafa;
  background-color: #4e4e4e;
  padding: 20px 10px;
}

/* Activities */

.events-style {
    text-align: center;
    padding: 25px 0;
}

.events-style p {
    color: #fafafa;
    padding: 10px;
}

.events-style h3 a {
    font-size: medium;
    text-decoration: none;
    color: #be9c91;
}

.events-style h3 a:hover {
    color: #fafafa;
    
}

/* Gallery */

section div div p {
    margin-bottom: 0;
}

.card-gallery {
    border: 0;
    text-align: center;
    color: #fafafa;
    background-color: #4e4e4e;
}

/* Join Us */

/* The code for responsive form is used form the UCD-Resume project */

.form-center {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
}

@media(min-width: 992px) {
    .form-center {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}




/*========== Footer =========*/

.footer-style {
  color: #2b2b2b;
  background-color: #be9c91;
  padding: 0;
}

footer div h3 {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 1px;
  font-weight: 600;
}

footer div p {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

/* Social networks css code is used from the "Love Running" project */

.social-networks {
  text-align: center;
  padding:0 0 25px 0;
  margin-bottom: 0;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 200%;
  padding: 1% 5%;
  color: #2b2b2b;
}

.social-networks li a i:hover {
  color: #fafafa;
}

/* Divider */

.divider {
  background: #4e4e4e;
  height: 5px;
  border: 0;
  width: 100%;
}
