@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

body {
    font-family: "Roboto", sans-serif;
    background-color: #4e4e4e;
}

/* Header */

.header-style {
    background-color: #f57c00;
    padding: 0;
}

header nav h2 {
    font-size: 1.3rem;
    margin-bottom: 0;
    letter-spacing: 1px;
    color: #2b2b2b;
    font-weight: 600;
}

.navitem-style {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: large;
}

.navbar .navbar-toggler {
    outline: none;
    color: #2b2b2b;
    border-color: #4e4e4e;
}

/*========= Headings ========*/

.hero-heading {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 185px;
    z-index: 1;
    color: #fafafa;
    text-align: center;
    width: 100%;
    padding: 20px;
    background: rgba(78, 78, 78, 0.7);
    font-size: 3.5vw;
    letter-spacing: 1px;
}

.headings {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

/* Text links */

.text-links {
    color: #f57c00;
    letter-spacing: 1px;
}

.text-links:hover {
    color: #fafafa;
    text-decoration: none;
}

/* Section */

.section-heading {
    margin: 25px 0 0 0;
    letter-spacing: 4px;
    border-bottom: 5px solid #f57c00;
    padding-bottom: 20px;
}

.section-style {
    padding: 0;
    background-color: #4e4e4e;
    color: #fafafa;
}

.content-style {
    margin: 30px 0;
    border: 0;
    background-color: #4e4e4e;
    color: #f57c00;
}

.hero-img {
    max-width: 1200px;
    width: 100%;
    display: block;
    object-fit: cover;
    max-height: 700px;
    padding-top: 25px;
}

.img-text {
    text-align: center;
    color: #fafafa;
    background-color: #4e4e4e;
    padding: 50px 10px;
}

/* Activities */

.events-style {
    text-align: center;
    padding: 25px 0;
}

.events-style p {
    color: #2b2b2b;
    background: #fafafa;
    margin: 16px 0;
    border-radius: 10px;
    box-shadow: 1px 2px 8px 3px black;
    padding: 5px;
}

.events-style h3 a {
    font-size: medium;
    text-decoration: none;
    color: #f57c00;
}

.events-style h3 a:hover {
    color: #fafafa;
}

/* Gallery */

.card-gallery {
    border: 0;
    text-align: center;
    color: #fafafa;
    background-color: #4e4e4e;
}

.p-gallery-style {
    margin-bottom: 0;
}

.carousel-style {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 25px;
}

/* Join Us */

/* The code for responsive form is used form the UCD-Resume project */

.form-heading {
    margin-top: 25px;
    font-size: 30px;
    font-weight: 400;
}

.form-center {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
}

@media (min-width: 720px) {
    .form-center {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 40%;
    }
}

.form-item-style {
    margin-top: 25px;
    background-color: #fafafa;
}

.label-style {
    margin-top: 25px;
}

.btn-style {
    margin: 50px 25px;
    background-color: #f57c00;
    color: #2b2b2b;
    width: 40%;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid #fafafa;
}

.btn-style:hover {
    color: #fafafa;
    background-color: #4e4e4e;
    border: 2px solid #f57c00;
}

/*========== Footer =========*/

.footer-style {
    color: #2b2b2b;
    background-color: #f57c00;
    padding: 0;
}

footer div h3 {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}

footer div p {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

/* Social networks css code is used from the "Love Running" project */

.social-networks {
    text-align: center;
    padding: 0 0 25px 0;
    margin-bottom: 0;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    padding: 1% 5%;
    color: #2b2b2b;
}

.social-networks li a i:hover {
    color: #fafafa;
}

/* Divider */

.divider {
    background: #4e4e4e;
    height: 5px;
    border: 0;
    width: 90%;
}
