@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #d6d6d6;
}

.divider {
  background: #be9c91;
  height: 3px;
  border: 0;
  width: 100%;
}

/*========= Headings ========*/

.headings {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

/* Header */

header {
  background-color: #d6d6d6;
}

.nav-style {
  border: 3px solid #be9c91;
}

header nav h2 {
  font-size: 1.3rem;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.navitem-style {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: large;
}

.navbar .navbar-toggler {
  outline: none;
}

header nav div ul li a:hover {
  border-bottom: 2px solid #be9c91;
}

 /* Text links */          

.text-links {
    color: #be9c91;
    letter-spacing: 1px;
}

.text-links:hover {
    color:#fafafa;
    text-decoration: none;
}

/* Section */

section {
  margin-top: 25px;
  background-color: #d6d6d6;
}

section h1 {
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 4px;
}

.content-style {
  border: 3px solid #be9c91;
  border-radius: 0;
  margin: 0;
}

.hero-img {
  width: 100%;
  display: block;
}

.img-text {
  text-align: center;
  color: #fafafa;
  background-color: #767676;
  padding: 20px 10px;
  border-top: 3px solid #be9c91;
}

/* Section Activities */

.events-style {
    text-align: center;
    padding: 25px 0;
}

.events-style p {
    color: #fafafa;
    background-color: #767676;
    border: 3px solid #be9c91;
    padding: 10px;
}

.events-style h3 a {
    font-size: medium;
    text-decoration: none;
    color: #767676;
}

.events-style h3 a:hover {
    color: #be9c91;
    background-color: #767676;
}

/* Section Gallery */

section div div p {
    margin-bottom: 0;
}

.card-gallery {
    border: 3px solid #be9c91;
    border-radius: 0;
    border-bottom: none;
    text-align: center;
    color: #fafafa;
    background-color: #767676;
}


/*========== Footer =========*/

footer {
  color: #fafafa;
  margin-top: 25px;
}

.footer-style {
  background-color: #767676;
  border: 3px solid #be9c91;
}

footer div h3 {
  padding-top: 20px;
  letter-spacing: 1px;
}

footer div p {
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
}

/* Social networks css code is used from the "Love Running" project */

.social-networks {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 200%;
  margin: 1%;
  padding: 5%;
  color: #fafafa;
}

.social-networks li a i:hover {
  color: #be9c91;
}
